.contact-section {
  display: flex;
}

.contact-pic {
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 500px;
  border-radius: 10px;
}

.contact-info-container {
  margin-left: 3em;
}

.contact-info-container h1 {
  font-size: 30px;
}

.contact-info-container p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-info-container p::before {
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 3px;
  background-color: #ccc;
  margin-right: 10px;
}
